*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #ffffff;
    color: #000;
}

.card {
    width: 100%; /* Adjusted width for responsiveness */
    padding: 32px 20px;
    box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
    border-radius: 5px;
    background-color: #fff;
    margin: 2%;
}

.card h2 {
    font-size: 16px;
    margin-bottom: 4px;
}

.card p {
    font-size: 14px;
    margin-bottom: 8px;
}

.card img {
    max-width: 100%;
    margin-bottom: 6px;
}

.card a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.contact {
    display: flex;
    font-size: small;
}

.contact a {
    font-size: small;
}

.contact img {
    max-width: 1rem;
    margin-right: 0.5rem;
}

#Czlonkowie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-width: 0.5rem 0;
    border-color: #000;
    border-style: solid;
}

#Czlonkowie div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Czlonkowie div div {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjusted width for responsiveness */
    align-items: center;
	justify-content: space-around;
    padding: 5% 2%; /* Adjusted padding for responsiveness */
}

#Czlonkowie div div img {
    max-width: 20em; /* Adjusted max-width for responsiveness */
    align-items: center;
    margin: 5% 0%;
    box-shadow: rgba(0, 0, 0, 0.619) 0px 1px 14px;
}

#Czlonkowie div div p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
	font-weight: bold;
}
#Czlonkowie div div a{
    text-decoration: none;
    font-size: 12px;
    color: black;
	padding-top: 5%;	
}

#Dyzury {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: auto; /* Adjusted height for responsiveness */
    border-width: 0.5rem 0;
    border-color: #000;
    border-style: solid;
}

#Dyzury img {
    max-width: 70%; /* Adjusted max-width for responsiveness */
    align-self: center;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 14px;
    margin: 5%;
}

footer {
    background-color: rgb(40, 77, 177);
    height: 3rem;
    width: 100%;
    display: flex;
    padding: 0 1rem;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.footerclass {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.footerclass a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-left: 2rem;
}

h1 {
    color: #fff;
    margin: 0;
    font-size: 10em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
    padding: 10rem;
}

h2 {
    color: #000000;
    text-align: center;
    padding-top: 5%;
    margin: 0;
}

h3 {
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
}

h5 {
    margin: 0%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row; /* Adjusted flex direction for responsiveness */
    justify-content: space-between;
	background-color: rgb(255, 255, 255);
}

header a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-self: center;
}

header ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Added flex-wrap for responsiveness */
}

header ul li {
    margin: 0.5rem;
}

#Info {
    margin: 5%;
    box-shadow: #000 0 1px 14px;
    padding: 0 2% 2% 2%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}

#Info p {
    text-align: left;
	line-height: 11%;
}

#Info  ul{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: justify;
	line-height: 1.5;


}

#Info p ul li{
	display: flex;
	justify-content:center;
	text-align: justify;
	flex-direction: column;
}

#Info a{
	color: #000;
	text-decoration: none;
	margin-top: 2%;
	text-align: justify;

}

.info_od_dziekanow {
    color: red;
}

.logo {
    display: flex;
    justify-self: center;
    margin: 1em;
}

.logo img {
    max-width: 5rem;
}

.name {
    margin-top: 110px;
    background-image: url(src/D7.jpeg);
}

nav a {
    color: #000;
    text-decoration: none;
}

nav {
    background-color: rgb(40, 77, 177);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: url(https://orig00.deviantart.net/5f81/f/2014/349/5/b/transparent_snow_gif_by_zhdara-d89z7ri.png);
    z-index: 9999;
}

.navi {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.sticky {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky ul{
	display: flex;
    justify-content: center;
    padding: 0%;
}

.sticky ul li{
	list-style: none;
    margin: 0 2em;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0%;
}

nav ul li {
    list-style: none;
    margin: 0 2em;
    display: flex;
    align-items: center;
}

.offerts {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    padding: 0% 5% 5% 5%; 
}

.offerts p{
	text-align: center;
	font-size: large;
}

.onas {
    background-color: #ddf2fb;
    border-width: 0.5rem 0;
	border-color: #000;
	border-style: solid;
}

#Onas{
	background-color: #fff;
	display: flex;
	flex-direction: row;
}

#Onas div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

 
#Onas div p{
	display: flex;
	padding: 5% 15%;
	font-size: larger;
	justify-self: center;
	align-content: center;
	text-align: justify;

}

#Onas img{
	max-height: 40rem;
}


#Projekty{
	display: flex;
	flex-direction: column;
}

#Projekty #carousel{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5%;
	height: 30rem;
	align-items: center;
}

#Projekty #carousel img{
	max-height: 80%;
	box-shadow: rgba(0, 0, 0, 0.619) 0px 1px 14px;
}

#Projekty #carousel #opis{
	max-width: 30%;
	margin-left: 20%;
	background-color: #fff;
	padding: 2%;
	box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
	height: 50%;
	margin-right: 5%;
	text-align: justify;
}

#Projekty #carousel #buttons{
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 7% 0;
	justify-content: space-evenly;
}

#Projekty #carousel #buttons button{
	background-color: rgb(78, 116, 255);
	color: #fff;
	border-color: rgb(0, 29, 133);
	border: 5%;
	padding: 2%;
	font-size: medium;
}

#Projekty #carousel #buttons button:hover{
	color: #fff;



	border-color: rgb(78, 116, 255);
	border: 5%;
	background-image: linear-gradient(to bottom right,rgb(0, 29, 133) , rgb(78, 116, 255) );
}


/* dla telefonów */
@media only screen and (max-width: 600px) {
	header {
		width: 100%;
		height: 5em;
		display: flex;
		flex-direction: row; /* Adjusted flex direction for responsiveness */
		justify-content: space-between;
		background-color: rgb(255, 255, 255);
	}	
	header .info_od_dziekanow {
		height: 0;
		width: 0;
		color: #fff;
		opacity: 0;
	}
	
	.contact{
		padding-right: 1em;
	}
	
	nav a {
		color: #000;
		text-decoration: none;
	}
	
	nav {
		background-color: rgb(40, 77, 177);
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		background-image: url(https://orig00.deviantart.net/5f81/f/2014/349/5/b/transparent_snow_gif_by_zhdara-d89z7ri.png);
		z-index: 9999;
	}

	
	.navi {
		font-weight: bold;
		color: rgb(255, 255, 255);
	}

	.sticky ul li{
		list-style: none;
		margin: 1em 0;
		display: flex;
		align-items: center;
	}


	h1{
		font-size: 5em;
		color: #fff;
		margin: 0;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
		text-align: center;
		text-transform: uppercase;
		z-index: 10;
		padding: 2rem;
	}
	.offerts {
		display: flex;
		flex-direction: column;
	}
	.card {
		width: 100%; /* Adjusted width for responsiveness */
		box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
		margin: 2%;
	}
	#Onas img{

		width: 100%;
	}
	#Onas{

		flex-direction: column;
	}
	#Czlonkowie div {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#Projekty{
		display: flex;
		flex-direction: column;
	}
	
	#Projekty #carousel{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 5%;
		height: auto;
		align-items: center;
	}
	
	#Projekty #carousel img{
		width: 100%;
		box-shadow: rgba(0, 0, 0, 0.619) 0px 1px 14px;
	}
	
	#Projekty #carousel #opis{
		max-width: 80%;
		margin-left: 5%;
		background-color: #fff;
		padding: 2%;
		box-shadow: rgba(0, 0, 0, 0.533) 0px 1px 4px;
		margin-right: 5%;
		
	}
	
	#Projekty #carousel #buttons{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 100%;
		padding: 10% 0;
		justify-content: space-evenly;
	}
	#Projekty #carousel #buttons button{
		margin: 1% 0%;
	}

	footer {
		background-color: rgb(40, 77, 177);
		flex-direction: column;
		height: 8rem;
		width: 100%;
		display: flex;
		padding: 0 1rem;
		color: #ffffff;
		justify-content: space-around;
		align-items: center;
	}
	
	.footerclass {
		display: flex;
		flex-direction: row;
		text-align: center;
	}
	
	.footerclass a {
		text-align: right;
		color: #ffffff;
		text-decoration: none;
		margin-left: 2rem;
	}
	footer h5 {
		text-align: center;
	}
	nav ul {
		padding: 0%;
		margin: 0%;
		width: 100%;
	}
	nav ul li {
		padding:2%;
		margin: 0%;
	}
	
	.navi {
		font-weight: bold;
		font-size: small;
		color: rgb(255, 255, 255);
	}



  }